spring:
  application:
    name: member-service

  datasource:
    url: ${DB_URI}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create

springdoc:
  swagger-ui:
    path: /member-service/swagger-ui/index.html